@font-face {
  font-family: 'Nevis';
  src: url('../fonts/nevis.eot?') format('eot'), url('../fonts/nevis.woff') format('woff'), url('../fonts/nevis.ttf') format('truetype'), url('../fonts/nevis.svg') format('svg');
}

@font-face {
  font-family: 'Sourcesans';
  src: url('../fonts/sourcesans.eot?') format('eot'), url('../fonts/sourcesans.woff') format('woff'), url('../fonts/sourcesans.ttf') format('truetype'), url('../fonts/sourcesans.svg') format('svg');
}

/* Adds scroll bar, regardless if needed or not. Prevents scroll from messing up layout */
html {
  overflow-y: scroll;
}

/* Used to push footer to the bottom */
html,
body {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  font-family: 'Sourcesans', Helvetica, sans-serif;
  font-size: 1.75em;
}

hr {
  border-color: #ccc;
}

.posts a {
  color: #3f92d2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  font-family: 'Sourcesans', Helvetica, sans-serif;
}

.centered {
  text-align: center;
}

.heading > p {
  padding-bottom: 2em;
}

.pt {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* Used to push footer to the bottom */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -48px;
}

/* Remove overflow bar when the lightbox is open */
body.lightbox-open,
.lightbox {
  overflow: hidden;
  margin-right: 0px;
}

.pic {
  margin-bottom: 45px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

/* End of overall page and content layout */

/* All following CSS is used for the navbar at the top of the screen */
.navbar {
  text-transform: uppercase;
  font-family: 'Nevis', sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
}

.navbar-inverse {
  padding: 5em 0 5em 0;
  background-color: #3f92d2;
  border-color: #0b61a4;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar-inverse
.navbar-brand {
  color: #ffffff;
}

.navbar-inverse
.navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse
.navbar-nav > li > a:hover {
  color: #222222;
}

.navbar-inverse
.navbar-collapse {
  border-color: #0b61a4;
}
/* End of Navbar */

/* All the following CSS is used for the navbar acting as the footer */
footer.navbar,
.push {
  height: 48px;
}

footer.navbar {
  background-color: #000000;
  border-radius: 0;
  min-height: 48px;
}

footer.navbar-default {
  border: 0;
}

small.navbar-brand {
  font-size: 80%;
  height: 48px;
}

p.navbar-text > small {
  margin-left: -15px;
}

p.navbar-text {
  text-transform: uppercase;
  font-size: 80%;
  margin: 0px;
  padding: 14px 14px;
  line-height: 18px;
  height: 48px;
}

.social {
  list-style-type: none;
  margin-bottom: 0px;
  padding: 12px 0 12px 0;
}

.social > li {
  display: inline;
}

.social > li > a {
  padding-right: 5px;
}
/* End of Footer */

/* The following CSS is used for content displayed on the blog page */
/*article:first-child {
  padding-top: 1.5em;
}*/

article:last-child {
  padding-bottom: 1.5em;
}

article {
  padding-bottom: .5em;
}

article > .panel {
  border-radius: 0;
  margin-bottom: 0;
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: #145689;
}

.panel-footer {
  background-color: #ffffff;
  border-top: none;
}

.panel-footer > a, a:hover {
  text-decoration: none;
  color: #3f92d2;
}

/*.pagination {
  margin: 0;
  padding: 0 0 20px 0;
}*/

#prev, #next, #back {
  padding-bottom: 15px;
}
/* End of blog */

/* The following CSS is used for the contact page */
.contact textarea {
  resize: none;
}

.contact-form {
  padding-bottom: 1.25em;
}

.alert-dismissable .close {
  top: 0px;
}

#success, #error {
  display: none;
}

form label.error {
  color: #be1f0e;
  font-size: .5em;
}
/* End of contact */

@media (max-width: 768px) {
  .navbar-inverse {
    padding: 0;
  }

  .navbar-inverse .navbar-toggle {
    border-color: transparent;
  }

  .navbar-inverse .navbar-nav>.open>a,
  .navbar-inverse .navbar-nav>.open>a:hover,
  .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #3f92d2;
  }

  .navbar-inverse .navbar-nav .open
  .dropdown-menu>li>a {
    color: #ffffff;
  }

  .navbar-inverse .navbar-nav .open
  .dropdown-menu>li>a:hover {
    color: #222222;
  }
  .navbar-brand {
    font-size: 90%;
  }
  .navbar-collapse {
    max-height: none;
  }
}
